<header class="z-10 relative mx-auto max-w-6xl px-6 pb-8 pt-4 flex md:justify-between md:items-center md:flex-row flex-col justify-center items-center">
        
  <a routerLink="/" class="text-center md:text-left md:w-auto font-display text-3xl uppercase tracking-wider md:mt-2 text-white">Serene And Sublime</a>
  
  <ul class="flex uppercase text-sm text-gray-500">
      <li class="ml-6 md:mt-2 mt-5" *ngFor="let route of routes">
          <a routerLink="{{route.href}}" class="text-white">{{route.name}}</a>
      </li>
  </ul>
  <div class="md:mt-0 mt-5">
      <a href="#" class="4-48 w-48 bg-white"><img src="{{image}}" alt="" class="object-cover w-10 h-10 bg-white rounded-full object-center transform transition-all hover:scale-110"></a>
  </div>

</header>